@import "~bootstrap/scss/bootstrap";

.background {
    background-image: url(res/project1.jpg);
    background-position: top right;
    height: 100vh;
    display: flex;
}

.content {
    background: rgba(white, 0.8);
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding: 10px 10px 5px;
    // align-self: center;
}